/**
background tasti: #D6DBF5
text tasti: #293264
start quiz button : #293264
wrong answare: #F8BCBC
correct answare: #94D7A2
non ne ho idea: #4D5B9E
**/

* {
  box-sizing: border-box;
}

:root {
  --background-color: #f5e0ff;
  --text-color: black;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom left,
    rgb(60, 255, 242),
    rgb(174, 255, 149)
  );
  color: #4d5b9e;
}

.home > h1 {
  margin-bottom: 0px;
}

.home > p {
  font-weight: 500;
}

.home > button {
  background-color: #4d5b9e;
  color: #ffffff;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  animation: pulse 1s infinite;
}

.home > button:hover {
  background-color: #b8eeff;
  color: #4d5b9e;
  border: 2px solid #4d5b9e;
  animation: none;
}

.main {
  background-color: #f5e0ff;
  padding: 20px 80px;
}

.play-again {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: rgb(0, 180, 255);
}

.question-box {
  background-color: #f5e0ff;
}

.question-text {
  color: #293264;
  text-align: center;
}

.answer-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* * * QUIZZICAL TITLE H1 * * */

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 9vw, 7rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(
    177deg,
    #f5e0ff 53%,
    var(--text-color) 65%
  );
  background: linear-gradient(177deg, #f5e0ff 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
